In [38]:
import pandas as pd

In [39]:
dr=pd.read_csv(r"C:\Users\user\Desktop\python pro2\adult.csv")
dr.sample(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
29352,50,Self-emp-inc,251240,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
29945,37,Federal-gov,160910,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
17460,28,Private,197113,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Other,Male,0,0,50,Puerto-Rico,<=50K
12218,21,?,199915,Some-college,10,Never-married,?,Own-child,White,Female,0,0,35,United-States,<=50K
30321,24,Private,174043,Bachelors,13,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [40]:
dr.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [41]:
race=dr['race'].value_counts()
race

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [67]:
#What is the average age of men?
avr=round((dr[dr['sex']=='Male'].value_counts().sum()/dr['sex'].value_counts().sum())*100)
avr

67